@model DauGiaTrucTuyen.Areas.Admin.Models.ManagerUserViewModel.DetailUserViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@section css{
    <link href="~/Content/ClientTemplate/css/informattion-user.css" rel="stylesheet" />
}
<h3 class="text-center">QUẢN LÝ TÀI KHOẢN</h3>
<br />
<div class="container bootstrap snippet information-user">
    <div class="row">
        <div class="col-sm-3">
            <div class="box box-primary">
                <div class="panel panel-primary">
                    <br />
                    <div class="avt-user">
                        <h1 class="text-uppercase"></h1>
                    </div>
                    <br />
                    <p class="text-center"><strong>@Model.UserName</strong></p>
                    <br />
                    <div class="list-group" style="padding-left: 1%;">
                        <a href="@Url.Action("InformationUser","Account")" class="list-group-item">Thông tin tài khoản</a>
                        <a href="@Url.Action("UpdateUser","Account")" class="list-group-item">Cập nhật thông tin tài khoản</a>
                        <a href="@Url.Action("ChangePassword","Manage")" class="list-group-item">Đổi mật khẩu</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/col-3-->
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="col-xs-12 col-sm-6">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @readonly = "readonly" } })
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @readonly = "readonly" } })
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @readonly = "readonly" } })
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @readonly = "readonly" } })
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @readonly = "readonly" } })
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @readonly = "readonly" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    console.log('@User.Identity.GetUserName().Substring(0,2)')
    $(document).ready(function () {
        $(".avt-user h1").text('@User.Identity.GetUserName().Substring(0,2)');
    })
</script>
