@using DauGiaTrucTuyen.Models
@model LoginViewModel
@{
    ViewBag.Title = "";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel">Đăng nhập để truy cập Website!</h4>
</div>
<div class="modal-body modal-body-sub">
    <div class="row">
        <div class="col-md-12 modal_body_left modal_body_left1" style="border-right: 1px dotted #C2C2C2;padding-right:3em;">
            <div class="sap_tabs">
                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <ul>
                        <li class="resp-tab-item" id="js_btnLogin"><span>Đăng nhập</span></li>
                        <li class="resp-tab-item" id="js_btnRegister"><span>Đăng ký</span></li>
                        <li class="resp-tab-item" id="js_btnForgotPassword"><span>Quên mật khẩu ?</span></li>
                    </ul>
                    <div class="tab-1">
                        <div class="facts">
                            <div class="register">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.TextBoxFor(x => x.UserName, new { @placeholder = "Tên đăng nhập", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

                                    @Html.PasswordFor(x => x.Password, new { @placeholder = "Mật khẩu" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="sign-up">
                                        <input type="submit" value="Đăng nhập" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="~/Content/ClientTemplate/js/easyResponsiveTabs.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#horizontalTab').easyResponsiveTabs({
                        type: 'default', //Types: default, vertical, accordion
                        width: 'auto', //auto or any width like 600px
                        fit: true   // 100% fit in a container
                    });
                });
            </script>
        </div>
    </div>
</div>