@using DauGiaTrucTuyen.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Đăng nhập</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="@Url.Action("Index","Home")"><b>ĐẤU GIÁ TRỰC TUYẾN</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <h4 class="login-box-msg">Đăng nhập</h4>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <div class="form-group has-feedback">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                @Html.CheckBoxFor(x => x.RememberMe)
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Đăng nhập</button>
                    </div>
                    <!-- /.col -->
                </div>
            }
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fab fa-facebook-f"></i> Đăng nhập với
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fab fa-google-plus-g"></i> Đăng nhập với
                    Google+
                </a>
            </div>
            <!-- /.social-auth-links -->
            <a id="js_btnForgotPassword" href="javascript:;">Quên mật khẩu?</a><br>
            <a id="js_btnRegister" href="javascript:;" class="text-center">Đăng ký</a>
        </div>
        <!-- /.login-box-body -->
    </div>
</body>
</html>