@model DauGiaTrucTuyen.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Đăng ký</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>


<body class="hold-transition login-page">
    <div class="tab-pane fade in" id="buoc1">
        <div class="login-box">
            <div class="login-logo">
                <a href="@Url.Action("Index","Home")"><b>ĐẤU GIÁ TRỰC TUYẾN</b></a>
            </div>
            <div class="login-box-body">
                <h4 class="login-box-msg">Đăng ký</h4>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email", @autofocus = "autofocus" })
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Mật khẩu" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Đăng ký</button>
                        </div>
                    </div>
                }
                <br />
                <a id="js_btnForgotPassword" href="javascript:;">Quên mật khẩu?</a><br>
                <a id="js_btnLogin" href="javascript:;" class="text-center">Đăng nhập</a>
            </div>
        </div>
    </div>
    <div class="tab-pane fade in" id="buoc2">
        <p>We need this information so that you can receive access to the site and its content. Rest assured your information will not be sold, traded, or given to anyone.</p>
        <p></p><br> Please contact <a mailto:href="JoeSixPack@Sixpacksrus.com"></a>JoeSixPack@Sixpacksrus.com</a> for any other inquiries.</p>
    </div>
</body>
</html>