@model DauGiaTrucTuyen.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h3 class="text-center">ĐĂNG KÝ TÀI KHOẢN</h3>
<br />
<div class="register">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "form-register", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                @Html.TextBoxFor(x => x.UserName, new { @placeholder = "Tên đăng nhập", @autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                @Html.TextBoxFor(x => x.Email, new { @placeholder = "Email", @autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                @Html.TextBoxFor(x => x.PhoneNumber, new { @placeholder = "Số điện thoại (+84)", @autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                @Html.PasswordFor(x => x.Password, new { @placeholder = "Mật khẩu" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                @Html.PasswordFor(x => x.ConfirmPassword, new { @placeholder = "Mật khẩu nhập lại" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <label class="text-center" style="width: 100%; font-family: serif">Vui lòng chọn hình thức xác thực tài khoản</label>
                @Html.DropDownListFor(model => model.Select, new SelectList(ViewBag.SelectedItems, "Value", "Text", ViewBag.SelectedDefault))
                @Html.ValidationMessageFor(model => model.Select, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })
        <div class="sign-up form-group">
            <div class="col-md-4 col-md-offset-4">
                <input type="submit" value="Đăng ký" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <a href="@Url.Action("Login","Account")">Đăng nhập</a>
                <br />
                <a href="@Url.Action("ForgotPassword","Account")">Quên mật khẩu ?</a>
            </div>
        </div>
    }
</div>