@model DauGiaTrucTuyen.Models.VerifyPhoneNumberViewModel
@{
    ViewBag.Title = "Xác thực tài khoản";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h3 class="text-center">ĐĂNG NHẬP HỆ THỐNG</h3>
<br />
<div class="register">
    @using (Html.BeginForm("VerifyPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("phoneNumber", @Model.PhoneNumber)
        @Html.Hidden("id", @Model.Id)
        <h4 class="text-center">Vui lòng nhập mã xác nhận để xác thực tài khoản</h4>
        <h5>@ViewBag.Status</h5>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                @Html.TextBoxFor(m => m.Code, new { @placeholder = "Mã xác nhận", @autofocus = "autofocus" })
            </div>
        </div>
        @Html.ValidationSummary("", new { @class = "text-danger text-center" })
        <div class="sign-up form-group">
            <div class="col-md-4 col-md-offset-4">
                <input type="submit" value="Xác nhận" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function () {
        if ("@ViewBag.Result" == "SendedSms")
            swal({
                title: "Xác thực tài khoản !",
                text: "Xác thực tài khoản thành công",
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Đồng ý",
                closeOnConfirm: false
            }, function () {
                location.href = "@Url.Action("Login","Account")";
            });
    })
    </script>
}
