@model PagedList.IPagedList<DauGiaTrucTuyen.Areas.Admin.Models.ListProductFullViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="row select-auction">
    <div class="col-md-6 col-sm-12 left active">
        <a href="@Url.Action("Index")">
            <span>
                <i class="fas fa-braille"></i>
            </span>
            <span>Tất cả các sản phẩm</span>
        </a>
    </div>
    <div class="col-md-6 col-sm-12 right">
        <a href="@Url.Action("ListAuctioning")">
            <span>
                <i class="fas fa-gavel"></i>
            </span>
            <span>Sản phẩm đang đấu giá</span>
        </a>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-lg-2 agile_ecommerce_tab_left">
            <div class="hs-wrapper">
                <a href="@Url.Action("ProductDetail", "Product", new { productId = item.Products_Id })"><img src="@item.Image" alt="NO" class="img-responsive" /></a>
                <div class="w3_hs_bottom">
                </div>
            </div>
            <div class="simpleCart_shelfItem" id="@item.Products_Id">
                <p><span id="end-time" style="font-size: 13px"></span><span id="counter-time-@item.Products_Id" style="font-size: 13px;"></span></p>
                <p>
                    <a href="@Url.Action("ProductDetail", "Product", new { productId = item.Products_Id })" class="w3ls-cart btn btn-primary"><i class="fas fa-gavel"></i></a>
                    <i class="item_price">@item.PriceStart <span style="color: black; font-weight: bold">K</span></i>
                </p>
            </div>
        </div>
    }
</div>
<div class="row">
    <div id='Paging' style="text-align:center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        / @Model.PageCount
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            //Js load thời gian đấu giá
            var items = @Html.Raw(Json.Encode(Model));
            console.log(items)
            for (var i = 0; i < items.length; i++) {
                var item = items[i];
                var id = item.Products_Id;
                var upgradeTime = item.TimeRemaining;
                var seconds = upgradeTime;

                function startTimer(duration, display) {
                    var timer = duration, hours, minutes, seconds;
                    setInterval(function () {
                        hours = Math.floor(timer / 3600);
                        minutes = Math.floor((Math.floor((timer) - (hours * 3600))) / 60);
                        seconds = Math.floor(timer % 60);

                        hours = hours < 10 ? "0" + hours : hours;
                        minutes = minutes < 10 ? "0" + minutes : minutes;
                        seconds = seconds < 10 ? "0" + seconds : seconds;

                        display.textContent = hours + ":" + minutes + ":" + seconds;

                        if (--timer < 0) {
                            display.textContent = "ĐANG KẾT THÚC";
                        }
                    }, 1000);
                }

                var fiveMinutes = upgradeTime,
                    display = document.querySelector('#counter-time-' + id);
                startTimer(fiveMinutes, display);
            }
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var auctionHub = $.connection.auctionHub;

            auctionHub.client.endTimeInListView = function (result) {
                $(".agile_ecommerce_tab_left").each(function (i) {
                    var a = $(".agile_ecommerce_tab_left").find('#' + result + '')
                    a.find("#end-time").css('font-size', '13px;')
                    a.find("#end-time").text("ĐÃ KẾT THÚC")
                    a.find('#counter-time-' + result + '').css("display", "none")
                });
            }

            $.connection.hub.start().done(function () {
                auctionHub.server.checkEndTime();
            })

            //setTimeout(function () {
            //    window.location.reload(1);
            //}, 5000);
        })
    </script>
}

