@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin</title>
    <link href="~/Content/ClientTemplate/images/img_452250.png" type="image/png" rel="shortcut icon" />
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/Admin/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome 5.5.0 -->
    <link href="~/Content/Admin/bower_components/font-awesome/css/all.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/Admin/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins-->
    <link rel="stylesheet" href="~/Content/Admin/dist/css/skins/_all-skins.min.css">
    <!-- Css datatable.net-->
    <link href="~/Content/Admin/dist/css/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Admin/dist/css/datatables/fixedHeader.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Admin/dist/css/datatables/responsive.bootstrap.css" rel="stylesheet" />
    <!-- jQuery 3 -->
    <script src="~/Content/Admin/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Sweetalert  CSS-->
    <link href="~/Content/Admin/sweetalert/css/sweetalert.css" rel="stylesheet" />
    <!-- Load-page  CSS-->
    <link href="~/Content/ClientTemplate/css/loadpage.css" rel="stylesheet" />
    <!-- Upload img CSS -->
    <link href="~/Content/Admin/dist/css/upload-img.css" rel="stylesheet" />
    <!-- Section css-->
    @RenderSection("css", required: false)
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index","Home", new { area = "admin" })" class="logo">
                <span class="logo-mini"><b>ĐG</b></span>
                <span class="logo-lg"><b>ĐẤU GIÁ</b></span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <i class="fas fa-bars"></i>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/Admin/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">@User.Identity.GetUserName()</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="~/Content/Admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        @User.Identity.GetUserName()
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="@Url.Action("LogOff","Account", new { area = "" })" class="btn btn-default btn-flat">Đăng xuất</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/Admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@User.Identity.GetUserName()</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Đang hoạt động</a>
                    </div>
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="active">
                        <a href="@Url.Action("Index", "User")">
                            <i class="fas fa-user-alt"></i> <span>Quản lý người dùng</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Quản lý danh mục sản phẩm</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "Category")"><i class="fas fa-circle-notch"></i> Danh sách danh mục sản phẩm</a></li>
                            <li><a href="@Url.Action("Create", "Category")"><i class="fas fa-circle-notch"></i> Thêm mới danh mục sản phẩm</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Report")">
                            <i class="fa fa-edit"></i> <span>Quản lý báo cáo người dùng</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i> <span>Quản lý sản phẩm đấu giá</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("GetFullListProduct","Product")"><i class="fas fa-circle-notch"></i> Danh sách tổng số sản phẩm</a></li>
                            <li><a href="@Url.Action("GetListProductStatusReView","Product", new { status = "Đang chờ duyệt" })"><i class="fas fa-circle-notch"></i> Danh sách sản phẩm đang chờ phê duyệt</a></li>
                            <li><a href="@Url.Action("Index","Product", new { status = "Đang đấu giá" })"><i class="fas fa-circle-notch"></i> Danh sách sản phẩm đang đấu giá</a></li>
                            <li><a href="@Url.Action("Create","Product")"><i class="fas fa-circle-notch"></i> Thêm mới sản phẩm</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Chatbox")">
                            <i class="fa fa-calendar"></i> <span>Quản lý tư vấn trực tuyến</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Chart")">
                            <i class="fa fa-envelope"></i> <span>Thống kê</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header"></section>
            <!-- Main content -->
            <section class="content">@RenderBody()</section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.1
            </div>
            <strong>Bản quyền &copy; 2019 <a href="#">Nhóm đồ án tốt nghiệm</a>.</strong> By: Thanh Long
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/Admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/Admin/dist/js/adminlte.min.js"></script>
    <!-- Js datatable.net -->
    <script src="~/Scripts/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/datatable/dataTables.fixedHeader.min.js"></script>
    <script src="~/Scripts/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/datatable/responsive.bootstrap.min.js"></script>
    <!-- Sweetalert JS -->
    <script src="~/Content/Admin/sweetalert/js/sweetalert.min.js"></script>
    <!-- Validate JS -->
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- Upload Img JS -->
    <script src="~/Content/ClientTemplate/js/upload-img.js"></script>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/ckeditor")
    <!-- CKfinder JS -->
    <script src="~/Scripts/ckfinder/ckfinder.js"></script>
</body>
</html>