@model IEnumerable<DauGiaTrucTuyen.Areas.Admin.Models.ListProductForPageClientViewModel>

@foreach (var item in Model)
{
    <div class="col-md-2 agile_ecommerce_tab_left">
        <div class="hs-wrapper">
            <a href="@Url.Action("ProductDetail", "Product", new { productId = item.Products_Id })"><img src="@item.Image" alt="NO" class="img-responsive" /></a>
            <div class="w3_hs_bottom">
            </div>
        </div>
        <div class="simpleCart_shelfItem">
            <p><span>@item.TimeLine</span> <i class="item_price">@item.PriceStart <span style="color: black; font-weight: bold">K</span></i></p>
            <a href="@Url.Action("ProductDetail", "Product", new { productId = item.Products_Id })" class="w3ls-cart btn btn-primary">Đấu giá</a>
        </div>
    </div>
}

@*<script>
        $(document).ready(function () {
            $(function () {
                var auctionHub = $.connection.auctionHub;
                $.connection.hub.start().done(function () {
                    $(".simpleCart_shelfItem").on("click","#btn-join-auction",function () {
                        var id = $(this).attr("data-id");
                        var connection = $.connection.hub.id;
                        console.log(id + ":" + connection)
                        $.ajax({
                            url: "@Url.Action("ProductDetail", "Product", new { productId = id, connectionId = connection })",
                            url: "Product/ProductDetail?productId=" + id + "&connectionId=" + connection,
                            type: "GET"
                        });
                    })
                });
            });
        });
    </script>*@
