@model IEnumerable<DauGiaTrucTuyen.Areas.Admin.Models.ListProductForPageClientViewModel>
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@foreach (var item in Model)
{
    <div class="col-md-2 agile_ecommerce_tab_left">
        <div class="hs-wrapper">
            <a href="@Url.Action("ProductDetail", "Product", new { productId = item.Products_Id })"><img src="@item.Image" alt="NO" class="img-responsive" /></a>
            <div class="w3_hs_bottom">
            </div>
        </div>
        <div class="simpleCart_shelfItem">
            <p><span>@item.TimeLine</span> <i class="item_price">@item.PriceStart <span style="color: black; font-weight: bold">K</span></i></p>
            <a href="@Url.Action("ProductDetail", "Product", new { productId = item.Products_Id })" class="w3ls-cart btn btn-primary">Đấu giá</a>
        </div>
    </div>
}

