@model IEnumerable<DauGiaTrucTuyen.Areas.Admin.Models.ListProductForPageClientViewModel>
@*<div class="shoes-grid col-md-9 col-sm-12">*@
<ul class="row" id="listProduct">
    @foreach (var item in Model)
    {
        <li class="col-md-2 box-item-product" style="width: auto">
            <a href="@Url.Action("ProductDetail", "Product", new { productId = item.Products_Id })"><img src="@item.Image" class="img-responsive" alt="" style="margin: auto; width: 100px; height: 140px;" /></a>
            <div class="text-center">
                <small class="text-danger" style="padding-right: 5%;">
                    <b>@item.AuctionTime</b>
                </small>
                <span> @item.PriceStart </span>
            </div>
            <a class="btn btn-default text-center" id="view-detail-product" style="margin: auto;display: block; width: 50px;" href="@Url.Action("ProductDetail", "Product", new { productId = item.Products_Id })">
                <i style="font-size:18px;" class="fas fa-gavel"></i>
            </a>
        </li>
    }
</ul>
@*</div>*@
@*<script>
        $(document).ready(function () {
            $(function () {
                var productHub = $.connection.productHub;
                productHub.client.getListProduct = function (result) {
                    // hiển thị danh sách các sản phẩm
                    $.each(result, function (key, value) {
                        var id = value.Products_Id;
                        $("#listProduct").append(
                            '<li class="col-md-2 box-item-product" style = "width: auto">' +
                            '<a href="@Url.Action("ProductDetail", "Product")?productId=' + id + '"><img src="' + value.Image + '" class="img-responsive" alt="" style="margin: auto; width: 100px; height: 140px;" /></a>' +
                            '<div class="text-center">' +
                            '<small class="text-danger" style="padding-right: 5%;">' +
                            '<b id="time' + value.Products_Id + '">' + value.AuctionTime + '</b>' +
                            '</small>' +
                            '<span>' + value.PriceStart + ' K</span>' +
                            '</div>' +
                            '<a class="btn btn-default text-center" id="view-detail-product" data-id="' + value.Products_Id + '" style="margin: auto;display: block; width: 50px;" href="@Url.Action("ProductDetail", "Product")?productId=' + id +'">' +
                            '<i style="font-size:18px;" class="fas fa-gavel"></i>' +
                            '</a>' +
                            '</li >'
                        );

                     //Đếm thời gian

                        //var id = "#time" + value.Products_Id;
                        //var timer2 = localStorage.getItem('timer');
                        //if (timer2 === null) timer2 = value.AuctionTime;
                        //$('' + id + '').html(timer2);

                        //var interval = setInterval(function () {
                        //    var timer = timer2.split(':');
                        //    var minutes = parseInt(timer[0], 10);
                        //    var seconds = parseInt(timer[1], 10);
                        //    --seconds;
                        //    minutes = (seconds < 0) ? --minutes : minutes;
                        //    if (minutes < 0) {
                        //        clearInterval(interval);
                        //        localStorage.removeItem('timer');
                        //    } else {
                        //        seconds = (seconds < 0) ? 59 : seconds;
                        //        seconds = (seconds < 10) ? '0' + seconds : seconds;
                        //        $('' + id + '').html(minutes + ':' + seconds);
                        //        timer2 = minutes + ':' + seconds;
                        //        localStorage.setItem('timer', timer2);
                        //    }
                        //}, 1000);

                    });
                };
                $.connection.hub.start().done(function () {
                    productHub.server.listProduct();
                });
            });
        });
    </script>*@
