@model DauGiaTrucTuyen.Areas.Admin.Models.DetailProductViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Chi tiết sản phẩm đấu giá";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@section css{
    <link href="~/Content/ClientTemplate/css/product-detail.css" rel="stylesheet" />
}
<div class="shoes-grid col-md-8 col-sm-12">
    <div class=" single_top">
        <div class="single_grid">
            <div class="row">
                <div class="grid images_3_of_2 col-md-6">
                    <a href="#">
                        <img class="etalage_thumb_image img-responsive" src="@Model.Image" />
                    </a>
                    <div class="clearfix"> </div>
                </div>
                <div class="desc1 span_3_of_2 col-md-6">
                    <h3>@Model.ProductName</h3>
                    <br />
                    <div class="cart-b">
                        <h4 style="color: brown" id="counter-time">@Model.AuctionTime s</h4>
                        <br />
                        <h3 id="pricing">@Model.AuctionPrice<span> K</span></h3>
                        <div class="clearfix"></div>
                    </div>
                    <br />
                    @Html.TextBoxFor(x => x.AuctionPrice, new { @autofocus = "autofocus" })
                    <input type="hidden" name="name" value="@Model.Transaction_Id" />
                    @Html.ValidationMessageFor(model => model.AuctionPrice, "", new { @class = "text-danger" })
                    <br />
                    <br />
                    <button class="btn btn-primary" id="btn-auction">Đấu giá</button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h3 class="text-uppercase">Mô tả chi tiết sản phẩm</h3>
    <p>@Html.Raw(Model.Description)</p>
    <div class="modal fade" id="modal-register" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 70%; margin: auto">
                <div class="modal-body">
                    <div id="myTabContent" class="tab-content">
                        <h3>Phiên đấu giá này đã hết thời gian</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Danh sách đấu giá sản phẩm</h3>
        </div>
        <div class="box-body no-padding">
            <table class="table table-condensed">
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Tài khoản</th>
                    <th>Số tiền</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Update software</td>
                    <td><span class="badge bg-red">100k</span></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Clean database</td>
                    <td><span class="badge bg-yellow">150k</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            var auctionHub = $.connection.auctionHub;
            var userId = "@User.Identity.GetUserId()";
            var productId = "@Model.Products_Id";

            auctionHub.client.auctioning = function (price) {
                console.log(price)
                document.getElementById("pricing").innerHTML = price + "<span> K</span>";
            }

            $.connection.hub.start().done(function () {
                auctionHub.server.timerExpired();
                $("#btn-auction").click(function () {
                    var price = $("#AuctionPrice").val();
                    console.log(price)
                    //auctionHub.server.joinAuction(productId, userId, price)
                });
            });
        })
    </script>
}
