@model DauGiaTrucTuyen.Areas.Admin.Models.DetailProductViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Chi tiết sản phẩm đấu giá";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@section css{
    <link href="~/Content/ClientTemplate/css/product-detail.css" rel="stylesheet" />
    <link href="~/Content/ClientTemplate/css/flexslider.css" rel="stylesheet" />
}
<div class="shoes-grid col-md-8 col-sm-12">
    <div class=" single_top">
        <div class="single_grid">
            <div class="row">
                <div class="grid images_3_of_2 col-md-6">
                    @if (Model.ImageMore1 == null && Model.ImageMore2 == null)
                    {
                        <img class="etalage_thumb_image img-responsive" width="350" height="410" src="@Model.Image" />
                    }
                    else
                    {
                        if (Model.ImageMore1 != null && Model.ImageMore2 != null)
                        {
                            <div class="flexslider1">
                                <ul class="slides">
                                    <li data-thumb="@Model.Image">
                                        <div class="thumb-image"> <img src="@Model.Image" data-imagezoom="true" class="img-responsive" alt=" "> </div>
                                    </li>
                                    <li data-thumb="@Model.ImageMore1">
                                        <div class="thumb-image"> <img src="@Model.ImageMore1" data-imagezoom="true" class="img-responsive" alt=" "> </div>
                                    </li>
                                    <li data-thumb="@Model.ImageMore2">
                                        <div class="thumb-image"> <img src="@Model.ImageMore2" data-imagezoom="true" class="img-responsive" alt=" "> </div>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            if (Model.ImageMore2 == null)
                            {
                                <div class="flexslider1">
                                    <ul class="slides">
                                        <li data-thumb="@Model.Image">
                                            <div class="thumb-image"> <img src="@Model.Image" data-imagezoom="true" class="img-responsive" alt=" "> </div>
                                        </li>
                                        <li data-thumb="@Model.ImageMore1">
                                            <div class="thumb-image"> <img src="@Model.ImageMore1" data-imagezoom="true" class="img-responsive" alt=" "> </div>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div class="flexslider1">
                                    <ul class="slides">
                                        <li data-thumb="@Model.Image">
                                            <div class="thumb-image"> <img src="@Model.Image" data-imagezoom="true" class="img-responsive" alt=" "> </div>
                                        </li>
                                        <li data-thumb="@Model.ImageMore2">
                                            <div class="thumb-image"> <img src="@Model.ImageMore2" data-imagezoom="true" class="img-responsive" alt=" "> </div>
                                        </li>
                                    </ul>
                                </div>
                            }
                        }
                    }
                    <div class="clearfix"> </div>
                </div>
                <div class="desc1 span_3_of_2 col-md-6" style="margin-bottom: 10%;">
                    <h3>@Model.ProductName</h3>
                    <br />
                    <div class="cart-b">
                        <h4 style="color: brown" id="end-time"></h4>
                        <h4 style="color: brown" id="countdown"></h4>
                        <h4 id="counter-time"></h4>
                        <br />
                        <h3 id="pricing">@Model.AuctionPrice<span> K</span></h3>
                        <div class="clearfix"></div>
                    </div>
                    <br />
                    <input type="hidden" name="name" value="@Model.Transaction_Id" />
                    @*@Html.TextBoxFor(x => x.AuctionPrice, new { @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(model => model.AuctionPrice, "", new { @class = "text-danger" })*@
                    <br />
                    @if (Model.Status != "Đang giao dich")
                    {
                        <div class="input-group box-input-price">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="quant[1]" class="form-control input-number" id="input-price" value="@Model.AuctionPrice" min="@Model.AuctionPrice" max="1000000000000000000">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                        <br />
                        <button class="btn btn-primary" id="btn-auction">Đấu giá</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12">
    <div class="box" style="padding-top: 0% !important">
        <div class="box-header">
            <h3 class="box-title text-center">Danh sách đấu giá sản phẩm</h3>
        </div>
        <div class="box-body no-padding">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Tài khoản</th>
                        <th>Số tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.ListTopAuction.Count; i++)
                    {
                        <tr>
                            <td>@Model.ListTopAuction[i].UserName</td>
                            <td><span class="badge bg-red">@Model.ListTopAuction[i].PriceAuction K</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-12">
    <h3 class="text-uppercase page-header">Mô tả chi tiết sản phẩm</h3>
    <div style="padding-left: 5%;">
        @Html.Raw(Model.Description)
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/ClientTemplate/js/imagezoom.js"></script>
    <script src="~/Content/ClientTemplate/js/jquery.flexslider.js"></script>
    <!--Slide Img-->
    <script>
        $(window).load(function () {
            $('.flexslider1').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!--Load thời gian đấu giá-->
    <script type="text/javascript">
        console.log("@Model.Status")
        if ("@Model.Status" != "Đang giao dich")
        {
            var upgradeTime = @Model.TimeRemaining;
            var seconds = upgradeTime;
            function timer() {
                var days = Math.floor(seconds / 24 / 60 / 60);
                var hoursLeft = Math.floor((seconds) - (days * 86400));
                var hours = Math.floor(hoursLeft / 3600);
                var minutesLeft = Math.floor((hoursLeft) - (hours * 3600));
                var minutes = Math.floor(minutesLeft / 60);
                var remainingSeconds = seconds % 60;
                function pad(n) {
                    return (n < 10 ? "0" + n : n);
                            }
                            document.getElementById('countdown').innerHTML = pad(hours) + ":" + pad(minutes) + ":" + pad(remainingSeconds);
                            if (seconds == 0) {
                                clearInterval(countdownTimer);
                                document.getElementById('countdown').innerHTML = "KẾT THÚC";
                            } else {
                                seconds--;
                            }
                        }
             var countdownTimer = setInterval('timer()', 1000);
        }
    </script>
    <!--Click chọn tiền-->
    <script>
        $('.btn-number').click(function (e) {
            e.preventDefault();
            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {
                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - @Model.StepPrice).change();
                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if (type == 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + @Model.StepPrice).change();
                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }
                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {
            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }
        });
        //$(".input-number").keydown(function (e) {
        //    // Allow: backspace, delete, tab, escape, enter and .
        //    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
        //        // Allow: Ctrl+A
        //        (e.keyCode == 65 && e.ctrlKey === true) ||
        //        // Allow: home, end, left, right
        //        (e.keyCode >= 35 && e.keyCode <= 39)) {
        //        // let it happen, don't do anything
        //        return;
        //    }
        //    // Ensure that it is a number and stop the keypress
        //    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        //        e.preventDefault();
        //    }
        //});
    </script>
    <script>
        $(document).ready(function () {
            var auctionHub = $.connection.auctionHub;
            var userId = "@User.Identity.GetUserId()";
            var productId = "@Model.Products_Id";

            //nhập giá tiền nhỏ hơn giá tiền hiện tại
            auctionHub.client.auctionError = function (error) {
                swal({
                    title: error,
                    confirmButtonClass: "btn-primary",
                    confirmButtonText: "Đồng ý",
                    closeOnConfirm: false
                    }, function () {
                       location.reload();
                    });
            }

            //phiên đấu giá kết thúc thì vô hiệu hóa các sự kiện submit or nhập
            auctionHub.client.endTime = function (result) {
                if (result == "End") {
                    document.getElementById('end-time').innerHTML = "ĐÃ KẾT THÚC";
                    document.getElementById('countdown').style.display = "none";
                }
            }

            //get giá tiền khi đấu giá và thêm vào list danh sách đấu giá
            auctionHub.client.auctioning = function (price, userName) {
                document.getElementById("pricing").innerHTML = price + "<span> K</span>";
                var code = '<tr>' +
                    '<td>' + userName + '</td>' +
                    '<td><span class="badge bg-red">' + price + ' K</span></td>' +
                    '</tr>';
                var tbody = document.getElementsByTagName("tbody");
                if ($("tbody tr").length == 0) {
                    $("tbody").append(code);
                } else {
                    if ($("tbody tr").length > 4) {
                        $(code).insertBefore($("tbody tr")[0]);
                        $("tbody tr:last-child").remove();
                    }
                    else {
                        $(code).insertBefore($("tbody tr")[0]);
                    }
                }
            }

            $.connection.hub.start().done(function () {
                //click vào đấu giá
                $("#btn-auction").click(function () {
                    if ("@Request.IsAuthenticated" == "True") {
                        var price = $("#input-price").val();
                        //tham gia phiên đấu giá
                        auctionHub.server.joinAuction(productId, userId, price)
                    }
                    //click vào đấu giá nhưng chưa đăng nhập
                    else {
                        swal({
                        title: "Bạn phải đăng nhập để có thể thực hiện chức năng này !",
                        confirmButtonClass: "btn-primary",
                        confirmButtonText: "Tiến hành đăng nhập",
                        closeOnConfirm: false
                        }, function () {
                            location.href = "@Url.Action("Login","Account", new { returnUrl = Url.Action("ProductDetail", "Product", new { productId = Model.Products_Id }) })";
                        });
                    }
                });

                //tham gia phiên đấu giá khi load trang
                auctionHub.server.joinGroupAuction(productId)
                //check xem phiên đấu giá nào đã kết thúc
                setInterval(function () {
                    auctionHub.server.endTime();
                }, 1000);
            });
        })
    </script>
}
