@model DauGiaTrucTuyen.Areas.Admin.Models.DetailProductViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Chi tiết sản phẩm đấu giá";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@section css{
    <link href="~/Content/ClientTemplate/css/product-detail.css" rel="stylesheet" />
    <link href="~/Content/ClientTemplate/css/flexslider.css" rel="stylesheet" />
}
<div class="shoes-grid col-md-8 col-sm-12">
    <div class=" single_top">
        <div class="single_grid">
            <div class="row">
                <div class="grid images_3_of_2 col-md-6">
                    <div class="flexslider1">
                        <ul class="slides">
                            <li data-thumb="@Model.Image">
                                <div class="thumb-image"> <img src="@Model.Image" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                            </li>
                            <li data-thumb="@Model.ImageMore1">
                                <div class="thumb-image"> <img src="@Model.ImageMore1" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                            </li>
                            <li data-thumb="@Model.ImageMore2">
                                <div class="thumb-image"> <img src="@Model.ImageMore2" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                            </li>
                        </ul>
                    </div>
                    @*<img class="etalage_thumb_image img-responsive" src="@Model.Image" />*@
                    <div class="clearfix"> </div>
                </div>
                <div class="desc1 span_3_of_2 col-md-6" style="margin-bottom: 10%;">
                    <h3>@Model.ProductName</h3>
                    <br />
                    <div class="cart-b">
                        <h4 style="color: brown" id="end-time"></h4>
                        <h4 style="color: brown" id="countdown"></h4>
                        <h4 id="counter-time">@*@Model.AuctionTime s*@</h4>
                        <br />
                        <h3 id="pricing">@Model.AuctionPrice<span> K</span></h3>
                        <div class="clearfix"></div>
                    </div>
                    <br />
                    @Html.TextBoxFor(x => x.AuctionPrice, new { @autofocus = "autofocus" })
                    <input type="hidden" name="name" value="@Model.Transaction_Id" />
                    @Html.ValidationMessageFor(model => model.AuctionPrice, "", new { @class = "text-danger" })
                    <br />
                    <br />
                    <button class="btn btn-primary" id="btn-auction">Đấu giá</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12">
    <div class="box" style="padding-top: 0% !important">
        <div class="box-header">
            <h3 class="box-title text-center">Danh sách đấu giá sản phẩm</h3>
        </div>
        <div class="box-body no-padding">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Tài khoản</th>
                        <th>Số tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.ListTopAuction.Count; i++)
                    {
                        <tr>
                            <td>@Model.ListTopAuction[i].UserName</td>
                            <td><span class="badge bg-red">@Model.ListTopAuction[i].PriceAuction K</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-12">
    <h3 class="text-uppercase page-header">Mô tả chi tiết sản phẩm</h3>
    <div style="padding-left: 5%;">
        @Html.Raw(Model.Description)
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/ClientTemplate/js/imagezoom.js"></script>
    <script src="~/Content/ClientTemplate/js/jquery.flexslider.js"></script>
    <!--Slide Img-->
    <script>
        $(window).load(function () {
            $('.flexslider1').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!--Load thời gian đấu giá-->
    <script type="text/javascript">
         var upgradeTime = @Model.TimeRemaining;
        var seconds = upgradeTime;
        function timer() {
            var days = Math.floor(seconds / 24 / 60 / 60);
            var hoursLeft = Math.floor((seconds) - (days * 86400));
            var hours = Math.floor(hoursLeft / 3600);
            var minutesLeft = Math.floor((hoursLeft) - (hours * 3600));
            var minutes = Math.floor(minutesLeft / 60);
            var remainingSeconds = seconds % 60;
            function pad(n) {
                return (n < 10 ? "0" + n : n);
                        }
                        document.getElementById('countdown').innerHTML = pad(hours) + ":" + pad(minutes) + ":" + pad(remainingSeconds);
                        if (seconds == 0) {
                            clearInterval(countdownTimer);
                            document.getElementById('countdown').innerHTML = "KẾT THÚC";
                        } else {
                            seconds--;
                        }
                    }
         var countdownTimer = setInterval('timer()', 1000);
    </script>
    <script>
        $(document).ready(function () {
            var auctionHub = $.connection.auctionHub;
            var userId = "@User.Identity.GetUserId()";
            var productId = "@Model.Products_Id";

            //nhập giá tiền nhỏ hơn giá tiền hiện tại
            auctionHub.client.auctionError = function (error) {
                swal({
                    title: error,
                    confirmButtonClass: "btn-primary",
                    confirmButtonText: "Đồng ý",
                    closeOnConfirm: false
                    }, function () {
                       location.reload();
                    });
            }

            //phiên đấu giá kết thúc thì vô hiệu hóa các sự kiện submit or nhập
            auctionHub.client.endTime = function (result) {
                if (result == "End") {
                    document.getElementById('end-time').innerHTML = "ĐÃ KẾT THÚC";
                    document.getElementById('countdown').style.display = "none";
                    document.getElementById('AuctionPrice').disabled = true;
                    document.getElementById('btn-auction').disabled = true;
                }
            }

            //get giá tiền khi đấu giá và thêm vào list danh sách đấu giá
            auctionHub.client.auctioning = function (price, userName) {
                document.getElementById("pricing").innerHTML = price + "<span> K</span>";
                var code = '<tr>' +
                    '<td>' + userName + '</td>' +
                    '<td><span class="badge bg-red">' + price + ' K</span></td>' +
                    '</tr>';
                var tbody = document.getElementsByTagName("tbody");
                if (tbody.length == "0") {
                    $('tbody').append(code);
                } else {
                    console.log(tbody[0])
                    $(code).insertBefore(tbody[0]);
                    $("tbody tr:last-child").remove();
                }
            }

            //
            auctionHub.client.sendMail = function (msg) {
                console.log(msg)
            }

            $.connection.hub.start().done(function () {
                //click vào đấu giá
                $("#btn-auction").click(function () {
                    if ("@Request.IsAuthenticated" == "True") {
                        var price = $("#AuctionPrice").val();
                        //tham gia phiên đấu giá
                        auctionHub.server.joinAuction(productId, userId, price)
                    }
                    //click vào đấu giá nhưng chưa đăng nhập
                    else {
                        swal({
                        title: "Bạn phải đăng nhập để có thể thực hiện chức năng này !",
                        confirmButtonClass: "btn-primary",
                        confirmButtonText: "Tiến hành đăng nhập",
                        closeOnConfirm: false
                        }, function () {
                            location.href = "@Url.Action("Login","Account", new { returnUrl = Url.Action("ProductDetail", "Product", new { productId = Model.Products_Id }) })";
                        });
                    }
                });
                
                //tham gia phiên đấu giá khi load trang
                auctionHub.server.joinGroupAuction(productId)
                //check xem phiên đấu giá nào đã kết thúc
                setInterval(function () {
                    auctionHub.server.endTime();
                }, 1000);
            });
        })
    </script>
}
