@model DauGiaTrucTuyen.Areas.Admin.Models.AddProductViewModel
@{
    ViewBag.Title = "Đăng ký sản phẩm đấu giá";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@section css{
    <link href="~/Content/ClientTemplate/css/manager-auction.css" rel="stylesheet" />
    <link href="~/Content/ClientTemplate/css/upload-img.css" rel="stylesheet" />
}<div class="row">
    <h3 class="text-center">QUẢN LÝ ĐẤU GIÁ</h3>
    <br />
    <div class="shoes-grid col-md-8 col-sm-12">
        <div class="container bootstrap snippet information-user">
            <div class="row">
                <div class="col-sm-3">
                    <div class="box box-primary">
                        <div class="panel panel-primary">
                            <div class="panel-heading panel-primary">Quản lý đấu giá</div>
                            <div class="list-group">
                                <a href="@Url.Action("Index","ManagerAuction")" class="list-group-item">Danh sách sản phẩm</a>
                                <a href="@Url.Action("Create","ManagerAuction")" class="list-group-item">Đăng ký sản phẩm đấu giá</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Đăng ký sản phẩm đấu giá</div>
                        <div class="panel-body panel-primary">
                            @using (Html.BeginForm("Create", "ManagerAuction", FormMethod.Post, new { area = "", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.ProductName)
                                            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-8 imgUp">
                                            <div class="imagePreview"></div>
                                            <label class="btn btn-primary">
                                                Chọn ảnh<input type="file" name="file" id="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                            </label>
                                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Hình ảnh mở rộng</label>
                                        <div class="col-md-4 imgUp">
                                            <div class="imagePreview"></div>
                                            <label class="btn btn-primary">
                                                Chọn ảnh mở rộng 1<input type="file" name="file1" id="file1" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                            </label>
                                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4 imgUp">
                                            <div class="imagePreview"></div>
                                            <label class="btn btn-primary">
                                                Chọn ảnh mở rộng 2<input type="file" name="file2" id="file2" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                            </label>
                                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.Description, new { @class = "ckeditor" })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TimeLine, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.TimeLine, new SelectList(ViewBag.SelectedItems, "Value", "Text", null))
                                            @Html.ValidationMessageFor(model => model.TimeLine, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PriceStart, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.PriceStart, new { @placeholder = "VND đồng" })
                                            @Html.ValidationMessageFor(model => model.PriceStart, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StepPrice, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.StepPrice, new { @placeholder = "VND đồng" })
                                            @Html.ValidationMessageFor(model => model.StepPrice, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Category_Id, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.DropDownList("Category_Id", null, htmlAttributes: new { })
                                            @Html.ValidationMessageFor(model => model.Category_Id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-8">
                                            <input type="submit" value="Đăng ký" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            }
                            <div>
                                <a href="@Url.Action("Index")">Quay lại</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Content/ClientTemplate/js/upload-img.js"></script>
}
