@model DauGiaTrucTuyen.Areas.Admin.Models.DetailReportViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">Chi tiết báo cáo người dùng</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ReportUser)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReportUser)
            </dd>
            <dt>

                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Transaction_Id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Transaction_Id)
            </dd>
            <p>
                @Html.ActionLink("Quay lại", "Index")
                <a id="js_btnDelete" href="javascript:;" data-id="@Model.ReportUser" class="btn btn-danger">Xóa</a>
            </p>
        </dl>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#js_btnDelete").on('click', function () {
                var id = $(this).attr('data-id');
                swal({
                    title: "Xóa tài khoản?",
                    text: "Bạn có chắc chắn muốn xóa danh mục sản phẩm này không?",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    confirmButtonText: "Đồng ý",
                    cancelButtonText: 'Không',
                    confirmButtonColor: "#ec6c62",
                    closeOnConfirm: false,
                    closeOnCancel: true
                }, function (result) {
                    if (result) {
                        $.ajax(
                            {
                                url: "/Admin/Category/Delete?id=" + id,
                                type: "GET",
                                success: function (data) {
                                    if (data) {
                                        swal({
                                            title: "Đã xóa thành công",
                                            type: "success",
                                            confirmButtonClass: "btn-primary",
                                            confirmButtonText: "OK",
                                            closeOnConfirm: false
                                        }, function () {
                                            window.location.href = "/Admin/Category/Index";
                                        });
                                    }
                                    else {
                                        swal("Xóa thất bại", ":(", "error");
                                    }
                                }
                            }
                        )
                    }
                });
            })
        })
    </script>
}

