@model IEnumerable<DauGiaTrucTuyen.Areas.Admin.Models.ListReportViewModel>
@{
    ViewBag.Title = "Danh sách báo cáo người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">Danh sách báo cáo người dùng</div>
    <div class="panel-body">
        <table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction_Id)
                    </th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Transaction_Id)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Transaction_Id })"><i class="fas fa-edit"></i></a>
                            <a href="@Url.Action("Details", new { id = item.Transaction_Id })"><i class="fas fa-info-circle"></i></a>
                            <a id="js_btnDelete" href="javascript:;" data-id="@item.Transaction_Id"><i class="fas fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script src="~/Content/Admin/Scripts/reponsive-table.js"></script>
    <script src="~/Content/Admin/Scripts/delete/delete-report.js"></script>
}
